<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
<div style="height:100vh;display:flex;flex-direction:column;justify-content:center;align-items:center">
    <h1 style="font-family: 'Courier New', Courier, monospace">{{.H1}}</h1>
</div>
</body>
</html>